<div class="row text-center">
    <div class="col-md-6 offset-3">
        <h1 class="text-danger">Page Not Found!</h1>
        <hr />
        <a class="btn btn-outline-secondary" asp-controller="Movies" asp-action="Index">Home Page</a>
    </div>
</div>